*{
    font-family: 'Comfortaa', sans-serif;
}
html, body {
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #5c5b5b;
}

body {
    background: #E0E1E1;

    margin: 0;
    min-height: 100vh;
    position: relative;
}


a {
    text-decoration: none;
    color: inherit;
}

/* Содержимое страницы должно заполнять весь экран, за исключением футера */
.content {
    padding-bottom: 50px; /* Высота футера */
}


/*
    HEADER
*/

header {
    background: #4682B4;
    height: 50px;
    margin: 0;
}

header *{
    color: #ffffff;
}

header h1 {

}

header h1 a{
    color: white;
    font-size: 1.75rem;
    padding: 5px 0 0;
}

header h1 a:hover {
    color: white;
}

header ul {
    margin: 0;
    padding: 12.5px 0 0;
    list-style-type: none;
    float: right;
    width: 1000px;
}

header ul li{
    float: left;
    position: relative;
}

header ul li a{
    display: inline;
    font-size: 1.25rem;
    text-decoration: none;
    color: white;
    padding: 5px 20px 0;
}

header ul li a:hover{
    background: #4682B4;
    transition: 0.5s;
    color: white;
}

header ul li ul {
    position: absolute;
    display: none;
    top: 25px;
    left: 0;
    right: 0;
    margin-top: 0;
    width: 255px;
    z-index: 111;
}

header ul li:hover ul {
    display: block; /* Показать вложенный список при наведении */
}

header ul li ul li {
    width: 100%; /* Заставляет все li иметь одинаковую ширину */
}

header ul li ul li a {
    background: white;
    color: #4682B4;
    padding: 5px;
    display: block; /* Растягивает ссылки на всю ширину li */
    white-space: nowrap; /* Предотвращает перенос текста на новую строку */
}

/*
    SLIDER
*/

.slider-title{
    text-align: center;
    padding-top: 10px;
}

.carousel{
    height: 400px;
}

.carousel-inner, .carousel-item{
    height: 400px;
    border-radius: 4px;
}


.carousel-caption h5{
    font-size: 2rem;
    font-weight: 500;
    background: #000000;
    max-width: 100%;
    padding: 0.3em;
    opacity: 0.5;
}

.carousel-caption-hack {
    position: absolute;
    right: 0%;
    bottom: 0.05rem;
    left: 0%;
    padding-top: 1.25rem;
    padding-bottom: 0rem;
    color: #fff;
    text-align: center;
    width: 100%;
}

.carousel-caption h5 a{
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;
}

.carousel-caption h5 a:hover{
    text-decoration: underline;
}

.carousel-caption p {
    font-size: 1rem;
    color: #fff;
    padding: 0;
    margin: 0;
    max-width: 100%;
    text-align: center;
}

/*
    FOOTER
*/

/* Стилизация футера */
.footer-bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #2F353B;
}

.footer-after {
    position: relative;
    width: 100%;
    background-color: #2F353B;
    margin-top: 10px;
}

footer h5{
    font-size: 1rem;
    font-weight: 500;
    color: white;
    padding-bottom: 5px;
}

footer p{
    font-size: 0.75rem;
    color: white;
    opacity: 0.5;
}

footer a i {
    font-size: 20px;
    color: #ffffff;
    margin-right: 5px;
    padding-top: 3px;
}

footer li {
    font-size: 1rem;
    font-weight: 500;
    color: white;
    opacity: 0.5;
    padding-top: 12px;
}

footer a i:hover {
    color: #4682B4;
}

/* Стилизация текста с авторскими правами */
footer .copyright {
    color: #aaaaaa;
    font-size: 0.75rem;
    padding-bottom: 10px;
}


/*
    FORMS
*/
.reg_form h2 {
    text-align: center;
    margin: 30px 0;
}
.reg_form input{
    height: 3.3rem;
}
.reg_form a{
    font-size: 1.2em;
    transition: all .3s;
    color: #5c5b5b;
    text-decoration: underline;
    margin-left: 60px;
}

.reg_form a:hover{
    margin-left: 55px;
    transition: all .3s;
}

/*
    FORMS
*/

form div.err{
    text-align: center;
    color: darkred;
}
